<main class="max-w-7xl mx-auto px-4 md:px-0 md:py-8">
  <!-- hero -->
  <section
    class="text-dark flex flex-col items-center justify-center text-center py-12"
  >
    <h1
      class="text-balance text-4xl font-medium md:text-6xl lg:text-7xl md:max-w-2xl lg:max-w-5xl"
    >
      Crafting Websites as <span class="font-display grad">Brilliant</span> as
      the Stars
    </h1>
    <p
      class="my-8 md:my-10 text-lightgray text-md md:text-2xl max-w-3xl text-balance"
    >
      Crafting pixel-perfect websites for companies that value attention to
      detail and passionate dedication.
    </p>
    <button
      class="text-primary flex items-center gap-1 font-medium text-lg md:text-xl hover:gap-3 hover:bg-primary-900 px-4 py-2 rounded-xl transition-all duration-300 ease"
    >
      Start a Project Request
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4 inline-block"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="3"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </button>
  </section>

  <!-- spacer-sm -->
  <div class="h-2 md:h-12"></div>

  <!-- carousel -->
  <section class="relative md:px-4 max-w-5xl mx-auto">
    <div
      class="rounded-lg overflow-hidden h-[82%] w-[80%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
    >
      <app-carousel></app-carousel>
    </div>
    <img src="assets/images/hero.webp" alt="background" />
  </section>

  <!-- spacer -->
  <div class="h-20 md:h-40"></div>

  <!-- services -->
  <section class="px-2 md:px-4">
    <div class="text-center">
      <h1 class="text-primary-700 md:text-lg font-semibold">OUR SERVICES</h1>
      <h2 class="font-semibold text-3xl md:text-4xl lg:text-6xl my-4 md:my-6">
        Elevate Your Digital Presence
      </h2>
    </div>

    <div
      class="w-fit mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-2 md:px-4 my-8 md:my-12"
    >
      @for (service of services; track $index) {
      <app-service-card [service]="service"></app-service-card>
      }
    </div>
  </section>

  <!-- spacer -->
  <div class="h-20 md:h-40"></div>
</main>
