<main class="max-w-7xl mx-auto px-4 lg:px-0 md:py-8">
  <!-- hero -->
  <section
    class="text-dark flex flex-col items-center justify-center text-center py-12"
  >
    <h1
      class="text-balance text-4xl font-medium md:text-6xl lg:text-7xl md:max-w-2xl lg:max-w-5xl"
    >
      Crafting Websites as <span class="font-display grad">Brilliant</span> as
      the Stars
    </h1>
    <p
      class="my-8 md:my-10 text-lightgray text-md md:text-2xl max-w-3xl text-balance"
    >
      Crafting pixel-perfect websites for companies that value attention to
      detail and passionate dedication.
    </p>
    <button
      class="text-primary flex items-center gap-1 font-medium text-lg md:text-xl hover:gap-3 hover:bg-primary-900 px-4 py-2 rounded-xl transition-all duration-300 ease"
    >
      Start a Project Request
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4 inline-block"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="3"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </button>
  </section>

  <!-- spacer-sm -->
  <div class="h-2 md:h-12"></div>

  <!-- carousel -->
  <section class="relative md:px-4 max-w-5xl mx-auto">
    <div
      class="rounded-lg overflow-hidden h-[82%] w-[80%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
    >
      <app-carousel></app-carousel>
    </div>
    <img src="assets/images/hero.webp" alt="background" />
  </section>

  <!-- spacer -->
  <div class="h-20 md:h-40"></div>

  <!-- services -->
  <section>
    <div
      class="w-full flex flex-col lg:flex-row justify-between gap-8 lg:gap-24"
    >
      <div>
        <h2 class="text-3xl md:text-5xl lg:text-6xl max-w-3xl text-balance">
          Much more<span class="text-lightgray-800">
            than just another web agency</span
          >
        </h2>
      </div>

      <div>
        <p class="text-lightgray text-lg md:text-xl max-w-2xl text-balance">
          Much more than a design agency, Asteria is a full-service agency made
          out of numerous talents, ready to work towards realizing your project
          and your goals.
        </p>
      </div>
    </div>

    <!-- spacer-sm -->
    <div class="h-8 md:h-24"></div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <div
        class="flex flex-col gap-8 lg:gap-12 shadow-sm border-2 bg-white border-light-500"
      >
        <div class="w-full">
          <img
            class="float-end h-40 md:h-64"
            src="assets/images/services/service1.svg"
            alt="UI/UX Design"
          />
        </div>
        <div class="px-6 md:px-10 lg:px-16 mb-6 md:mb-10 lg:mb-16">
          <h3
            class="text-3xl font-display md:text-4xl lg:text-5xl text-balance mb-6 md:mb-10"
          >
            UI/UX Design
          </h3>
          <p class="text-lightgray md:text-lg text-balance">
            Whether it's a presentation website, an e-commerce, or a web app. We
            provide detailed Design Systems along with mock-ups tailored for
            both desktop and responsive versions, offering comprehensive
            guidelines for interface development. We prioritize crafting
            interfaces that are not only visually appealing but also highly
            functional, striking the perfect balance between beauty and
            usability.
          </p>
        </div>
      </div>
      <div
        class="flex flex-col gap-8 lg:gap-12 shadow-sm border-2  bg-white border-light-500"
      >
        <div class="w-full">
          <img
            class="h-40 md:h-64"
            src="assets/images/services/service2.svg"
            alt="Graphic Design"
          />
        </div>
        <div class="px-6 md:px-10 lg:px-16 mb-6 md:mb-10 lg:mb-16">
          <h3
            class="text-3xl font-display md:text-4xl lg:text-5xl text-balance mb-6 md:mb-10"
          >
            Graphic Design
          </h3>
          <p class="text-lightgray md:text-lg text-balance">
            At Asteria, we offer more than just stunning visuals. We specialize
            in providing comprehensive support for your written, oral, and
            visual communications. Whether you need assistance with copywriting,
            2D/3D illustrations, or video production, we're here to help you
            craft and convey these content elements in alignment with your
            branding strategy, tone of voice, and brand positioning.
          </p>
        </div>
      </div>

      <div
        class="lg:col-span-2 flex flex-col lg:flex-row items-center gap-8 lg:gap-12 shadow-sm bg-white border-2 border-light-500 p-6 md:p-10 lg:p-16"
      >
        <div class="w-full">
          <img
            class="h-40 md:h-64"
            src="assets/images/services/service3.svg"
            alt="Web Development"
          />
        </div>
        <div>
          <h3
            class="text-3xl font-display md:text-4xl lg:text-5xl text-balance mb-6 md:mb-10"
          >
            Development
          </h3>
          <p class="text-lightgray md:text-lg text-balance">
            Our web development services are tailored to your specific needs. We
            specialize in crafting custom websites and web applications that are
            not only visually appealing but also highly functional and
            user-friendly. We use the latest technologies and best practices to
            ensure that your website is fast, secure, and accessible to all
            users, regardless of their device or location.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- spacer -->
  <div class="h-20 md:h-40"></div>
</main>
